*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poltawski Nowy', serif;
}

.top-level-container{
    width: 100%; 
    margin: auto;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    position: relative;
    transition: .3s;
}

.top-level-container-scroll{
    width: 100%;
    background-color: #fff; 
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 15px;
    position: fixed;
    top:0;
    z-index: 100;
}

.hr{
    width: 100%; 
    height: 2px;
    background-color: #e6e6e6;
}

.menu{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 25px; 
}

.main-menu{
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: left;
    align-items: center;
    column-gap: 60px;
    padding: 12px;
}

.search-box{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.search-box img{
    width: 35px;
    height: 35px;
    transform: rotate(90deg);
    cursor: pointer;
}

#search-bar{
    width: 400px;
    height: 50px;
    font-size: 25px;
}

.main-menu li{
    height: 100%;
    list-style-type: none;
    text-decoration: none;
    font-size: 28px; 
    cursor: pointer;
    transition: .3s;
}

.main-menu li:hover{
    color: #3399ff;;
}

.sub-menu{
    width: 50%;
    display: flex; 
    margin: none;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    column-gap: 20px;
}

#logo{
    width: 300px; 
    height: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.hero-container{
    position: relative;
    width: 100%; 
    height: 70vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.hero{
    height: auto;
    object-fit: cover;
    position: absolute;
}

.hero-static{
    height: 100%;
    width: 100%;
 
}

#hero0{
    width: 100%;
    z-index: 0;
    height: 100%;
}

#hero1{
    width: 100%;
    z-index: 10;
    bottom:0;
    left:0;
}

#hero2{
    z-index: 9;
    bottom:0;
    left:13%;
}

#hero3{
    z-index: 8;
    bottom:0;
    right: 0;
}

#hero4{
    z-index: 8;
    bottom:0;
    right: 0;
}

#hero5{
    z-index: 7;
    bottom:0;
    right: 0;
}

#hero6{
    z-index: 7;
    bottom:0;
    left: -5%;
}

#hero7{
    z-index: 8;
    bottom:0;
    left: 0;
}

.hero-info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    gap: 20px;
}

.hero-info #hero-title{
    font-size: 5rem;
    font-weight: bold;
}

.hero-info #post-title{
    font-size: 3rem;
    font-weight: bold;
}

.hero-info #hero-text{
    font-size: 1.2rem;
    width: 50%;
}

.hero-info #hero-reg{
    width: 200px;
    font-size: 1.8rem;
    border: 1px solid #0c0c0c;
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.hero-info #hero-reg:hover{
    background-color: rgba(255, 255, 255, .6);
}



.main-content{
    width: 90%;
    height: auto; 
    margin: 40px auto;
    display: flex; 
    flex-direction: column;
}

.item{
    width: 100%; 
    padding: 25px;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.col-md-6 img{
    width: 100%; 
    height: 100%; 
}

.col-image{
    max-height: 400px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.col-half-image{
    max-height: 400px;
    height: 100%;
}

.col-md-6 .item-info{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: left;
    padding: 25px;
    gap: 35px;
}

.col-md-6 .item-info #title{
    font-size: 2.5rem;
    text-align: left;
}

 

.col-md-6 .item-info #button{
    font-size: 2rem;
    border: 1px solid #5c5c5c;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}


.foot-container{
    width: 100%; 
    background-color: #0c0c0c;
    padding: 25px;
}

.foot-content{
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
    margin-left: 40px;
    gap: 80px;
}

.foot-menu li{
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    transition: .3s;
}

.foot-menu li:hover{
    color: #3399ff;
}

.foot-container p{
    color:#fff;
    text-align: center;
}

 
@media only screen and (max-width: 900px) {
    
    .hero-container{
        height: 50vh;
    }
}